* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8758ff;
}

.container {
  height: 100vh;
  width: 100%;
}

.open_chatbot {
  width: 300px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 15px 0px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #1a1a40;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.chatbot_container {
  width: 400px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #1a1a40;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 1;
}

.message_container {
  height: 350px;
  overflow-y: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 30px;
  padding-bottom: 20px;
}

.message_container::-webkit-scrollbar {
  width: 0px;
}

.system_single_message_container {
  display: flex;
  flex-direction: row;
  column-gap: 12.15px;
  align-items: flex-start;
  justify-content: flex-start;
}

.system_message_icon {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.system_message {
  padding: 10px 15px;
  color: #fff;
  font-size: 15.791px;
  font-family: Outfit;
  max-width: 200px;
  border-radius: 25.482px;
  /* border: 2.153px solid #2f313d; */
  background: #ff9d00;
}

.single_message_container {
  display: flex;
  flex-direction: row;
  column-gap: 12.15px;
  align-items: flex-start;
  justify-content: flex-end;
}

.message {
  border-radius: 21.837px;
  /* border: 1.845px solid #4857b4; */
  background: #8758ff;
  padding: 10px 15px;
  color: #fff;
  font-size: 15.791px;
  font-family: Outfit;
  max-width: 200px;
}

.message_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d9d9d9;
}

.input_container {
  height: 50px;
  padding: 19px 26px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  border-radius: 29.066px;
  border: 1.53px solid #6b6b6b;
  background: #232323;
}

.input_container input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 16.828px;
  font-family: Outfit;
  color: #fff;
}

.input_container input::placeholder {
  color: #b0b0b0;
}

.input_search {
  width: 18.536px;
  height: 18.567px;
  cursor: pointer;
}

/* Mobile CSS */
@media only screen and (max-width: 600px) {
  .chatbot_container {
    bottom: 20px;
    right: 20px;
    padding: 20px;
    width: 350px;
  }
  .system_message,
  .message {
    max-width: 170px;
  }
}
